<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Projeta Fácil</title>

	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/brewer.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/projetafacil.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendors/bootstrap-datepicker.standalone.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendors/magic-check.min.css}"/>
	<link rel="shortcut icon" th:href="@{/images/logopf.png}"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}"/> -->
<!-- <input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/> -->

<div class="aw-layout-page">
	
	<div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
	
	<div th:replace="layout/fragments/MenuLateral :: layout-sidebar"></div>
	
	<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>
	
	<div th:replace="layout/fragments/Footer :: layout-footer"></div>
</div>

<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
<script th:src="@{/js/vendors/jquery.masknumber.min.js}"></script>
<script th:src="@{/js/vendors/jquery.mask.min.js}"></script>
<script th:src="@{/js/vendors/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
<script th:src="@{/js/vendors/numeral.min.js}"></script>
<script th:src="@{/js/vendors/pt-br.min.js}"></script>
<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
<script th:src="@{/js/projetafacil.dialogo-excluir.js}"></script>
<script th:src="@{/js/projetafacil.js}"></script>
<script th:scr="@{/js/orcamento-teste.js}"></script>

<th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>