<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Cadastro de Sub Etapa</title>
</head>

<section layout:fragment="conteudo">

	   <div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${subEtapa.nova}">Cadastro de Sub Etapa</h1>
					<h1 th:unless="${subEtapa.nova}" th:text="|Edição da Sub Etapa: ${subEtapa.nome}|">Edição da Sub Etapa</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/subEtapas}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="container-fluid">
	<th:block th:include="fragments/MensagemSucesso"></th:block>

    <form class="form-horizontal" method="POST" th:action="@{/subEtapas/salvar}" th:object="${subEtapa}">
    	
    	<th:block th:include="fragments/MensagensErroValidacao"></th:block>
    
    		<div class="panel-body">
    			<input type="hidden" th:field="${subEtapa.id}"/>
				<input type="hidden" class="form-control" th:field="${subEtapa.codigo}" />    		
				
				<div class="form-group" th:unless="${subEtapa.id} == null">
					<label class="col-sm-1 control-label">Código:</label>
					<div class="col-sm-4"> 
						<label class="col-sm-1 control-label" id="labelCodigoSubEtapa" th:text="${subEtapa.codigo}"></label>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('etapa')} ? has-error"> 
 					<label for="etapa" class="col-sm-1 control-label">Etapa</label>
 					<div class="col-sm-11"> 
 						<select class="form-control" id="etapa" th:field="*{etapa}" autofocus="autofocus"> 
 							<option value="">Selecione uma Etapa</option>
 							<option th:each="etapa : ${etapas}" th:value="${etapa.id}" th:text="${etapa.codigo} + ' - ' + ${etapa.nome}"></option>
                     	</select> 
                     </div> 
 				</div> 
 				
				
				<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="col-sm-1 control-label">Nome</label>
					<div class="col-sm-11">  
						<input type="text" class="form-control"	id="nome" th:field="*{nome}" />
					</div>
				</div>
				
			
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
    </form>
    
    
    </div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/js/subetapa.select-edicao.js}"></script>
</th:block>



</html>