<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:brewer="http://brewer.algaworks.com">
    
<head>
	<title>Pesquisa de Sub Etapas</title>
</head>

<section layout:fragment="conteudo">
	<div layout:insert="fragments/MensagemGeral"></div>

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de Sub Etapa</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/subEtapas/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova Sub Etapa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	   	
	   	<div class="panel-body">
	   			<form method="GET" th:object="${subEtapaFilter}">
			<div class="row">
				<div class="form-group col-sm-12">
					<input type="text" class="form-control" id="etapa" placeholder="Qual Sub Etapa você está procurando?" autofocus="autofocus" th:field="*{codigoENome}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
	   		
	   		<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
		   			<thead>
		   				<tr>
						<th>
							<brewer:order page="${pagina}" field="etapa" text="Etapa" />
						</th>
						<th>Código da SubEtapa</th>
						<th>
							<brewer:order page="${pagina}" field="nome" text="Nome" />
						</th>
						<th class="table-col-acoes"></th>
					</tr>
		   			</thead>
		   			<tbody>
		   					<tr th:each="subEtapa : ${pagina.conteudo}">
		   					<td th:text="|${subEtapa.etapa.codigo} - ${subEtapa.etapa.nome}|"></td>
		   					<td th:text="|${subEtapa.etapa.codigo}.${subEtapa.codigo}|">1</td>
		   					<td th:text="${subEtapa.nome}"></td>
		   					<td >
		   						<a class="btn btn-link btn-xs" th:href="@{/subEtapas/{id}(id=${subEtapa.id})}" 
		   								title="Editar" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/subEtapas/{id}(id=${subEtapa.id})}"
									data:objeto="${subEtapa.nome}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
		   					</td>
		   				</tr>
		   				<tr th:if="${pagina.vazia}">
							<td colspan="4">Nenhuma sub etapa encontrada</td>
						</tr>
		   			</tbody>
		   		</table>
		   	</div>
		   	
		   		<brewer:pagination page="${pagina}"/>
	   	
	</div>
</section>
</html>
