<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:brewer="http://brewer.algaworks.com">
    
    
<head>
	<title>Atualizar Preço de Materiais</title>
</head>


<section layout:fragment="conteudo">
	<div layout:insert="fragments/MensagemGeral"></div>
	
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Atualização de Preço de Materiais</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/materiaisFornecedor/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo Material</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>



	   <div class="panel-body">
	   
	   		<form method="GET" th:object="${materialFornecedorFilter}">
				<div class="row">
					<div class="form-group col-sm-12">
						<input type="text" class="form-control" id="materialFornecedor" placeholder="Qual Material você está procurando para alterar o preço?" autofocus="autofocus" th:field="*{nome}"/>
					</div>
				</div>
			
				<button type="submit" class="btn  btn-primary">Pesquisar</button>
			</form>
	   		
	   		<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
		   			<thead>
		   				<tr>
		   					<th>#</th>
		   					<th>Nome / Unidade</th>
		   					<th>Código de Barras</th>
							<th>Preço</th>
		   					<th class="table-col-acoes"></th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="material : ${pagina.conteudo}">
		   					<td th:text="${material.id}">232</td>
		   					<td th:text="|${material.nome} / ${material.unidade.descricao}|">Material para Parede / M</td>
		   					<td th:text="${material.codigoDeBarras}">123213123asdsadsadsa</td>
		   					<td> 
		   					  <input type="text" class="form-control js-currency" th:value="${material.preco}"/>
		   					</td>
		   					
		   					<td>
								<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/materiaisFornecedor/{id}(id=${material.id})}"
									data:objeto="${material.nome}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
		   					</td>
		   				</tr>
		   				<tr th:if="${pagina.vazia}">
							<td colspan="4">Nenhum material encontrado</td>
						</tr>
		   			</tbody>
		   		</table>
		   	</div>
	   	</div>
	   	
	   	<brewer:pagination page="${pagina}"/>
	   	
</section>
</html>
