<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="http://www.thymeleaf.org/extras/data" 
 	  xmlns:brewer="http://brewer.algaworks.com" 
	  layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Cadastro de Material</title>
</head>

<section layout:fragment="conteudo">
    
    <div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${materialFornecedor.novo}">Cadastro de Material</h1>
					<h1 th:unless="${materialFornecedor.novo}">Edição do Material - [[${materialFornecedor.nome}]]</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/materiaisFornecedor}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
	
		<th:block th:include="fragments/MensagemSucesso"></th:block>

    <form method="POST" th:action="@{/materiaisFornecedor/salvar}" th:object="${materialFornecedor}">
    	
    	<th:block th:include="fragments/MensagensErroValidacao"></th:block>
    		
    		<div class="panel-body">
    		
    			<input type="hidden" th:field="*{id}"/>
    			
    			<div class="row">
    			
					<div class="form-group  col-sm-6  bw-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="nome" class="control-label">Nome</label>
						<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}" />
					</div>
					
					<div class="form-group  col-sm-6  bw-required" th:classappend="${#fields.hasErrors('preco')} ? has-error">
						<label for="preco" class="control-label">Preço</label>
						<input type="text" class="form-control js-currency" id="preco" th:field="*{preco}"/>
					</div>
					
				</div>
				
				<div class="row">
					
					<div class="form-group  col-sm-6 bw-required" th:classappend="${#fields.hasErrors('codigoBIM')} ?  has-error">
						<label  for="codigoBIM" class="control-label">Código BIM</label>
						<input type="text" class="form-control" id="codigoSinapi" th:field="*{codigoBIM}" />	
					</div>
				
					<div class="form-group  col-sm-6  bw-required" th:classappend="${#fields.hasErrors('unidade')} ?  has-error">
		 				<label for="unidade" class="control-label">Unidade</label>
		 				<select class="form-control" name="unidade" th:field="*{unidade}">
							<option th:each="unidade : ${unidades}" th:value="${unidade}" th:text="${unidade.descricao}"></option>
			            </select>
		 			</div> 
				
				</div>
				
				<div class="row">
				
					<div class="form-group  col-sm-6" th:classappend="${#fields.hasErrors('codigoTCPO')} ?  has-error">
						<label  for="codigoTCPO" class="control-label">Código de TCPO</label>
						<input type="text" class="form-control" id="codigoTCPO" th:field="*{codigoTCPO}" />	
					</div>
					
					<div class="form-group  col-sm-6" th:classappend="${#fields.hasErrors('codigoNCM')} ?  has-error">
						<label  for="codigoNCM" class="control-label">Código NCM</label>
						<input type="text" class="form-control" id="codigoNCM" th:field="*{codigoNCM}" />	
					</div>
					
				</div>
 				
 				<div class="row">
	 				
	 				<div class="form-group  col-sm-6" th:classappend="${#fields.hasErrors('codigoSinapi')} ?  has-error">
						<label  for="codigoSinapi" class="control-label">Código SINAPI</label>
						<input type="text" class="form-control" id="codigoSinapi" th:field="*{codigoSinapi}" />	
					</div>
					
					<div class="form-group  col-sm-6" th:classappend="${#fields.hasErrors('codigoDeBarras')} ?  has-error">
						<label  for="codigoDeBarras" class="control-label">Código de Barras</label>
						<input type="text" class="form-control" id="codigoDeBarras" th:field="*{codigoDeBarras}" />	
					</div>
				
				</div>

 				
				<div class="row">
					<div class="form-group col-sm-2">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
    </form>
     </div>
</section>
</html>