<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="table-responsive" th:fragment="resultsListMaterial" >
		   		<table id="tabelaMaterialPesquisa" class="table table-bordered table-striped">
		   			<thead>
		   				<tr>
		   					<th class="text-center col-md-1">#</th>
		   					<th class="text-center col-md-2">Descrição</th>
		   					<th class="text-center col-md-2">Unidade</th>
		   					<th class="text-center col-md-2">Valor</th>
		   					<th class="text-center col-md-2">Código BIM</th>
		   					<th class="text-center col-md-1">Inserir</th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="material : ${materiais}">
		   					<td class="text-center" th:text="${material.id}">1</td>
		   					<td th:text="${material.descricao}"></td>
		   					<td class="text-center" th:text="${material.unidade.descricao}"></td>
		   					<td class="text-right" th:text="|R$ ${{material.composicaoInsumo.valor}}|"></td>
		   					<td th:text="${material.composicaoInsumo.codigoBIM}"></td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs inserirMaterial" onclick="inserirMaterial(event)"
		   								title="Inserir Material" rel="tooltip" data-placement="top"
		   								th:attr="data-id=${material.id}">
		   							<span class="glyphicon glyphicon-send"></span>
		   						</a>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td colspan="6" th:if="${#lists.isEmpty(materiais)}">Nenhum material foi encontrado</td>
		   				</tr>
		   			</tbody>
		   		</table>
		   	</div>
	
</html>