<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	xmlns:data="http://www.thymeleaf.org/extras/data"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:brewer="http://brewer.algaworks.com">
    
<head>
	<title>Pesquisa de Materiais para Criação de Composição</title>
</head>

<section layout:fragment="conteudo">
		<div layout:insert="fragments/MensagemGeral"></div>

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de Insumo - Material</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/insumoMaterial/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo Material</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	   	
	   	 <div class="panel-body">
	   		<form method="GET" th:object="${insumoFilter}">
				<div class="row">
					<div class="form-group col-sm-12">
						<input type="text" class="form-control" id="insumoMaterial" placeholder="Qual Material você está procurando?" autofocus="autofocus" th:field="*{nome}"/>
					</div>
				</div>
			
				<button type="submit" class="btn  btn-primary">Pesquisar</button>
			</form>
	   		
	   		<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
		   			<thead>
		   				<tr>
		   					<th>#</th>
		   					<th>
								<brewer:order page="${pagina}" field="nome" text="Nome" />				
							</th>
		   					<th>Unidade</th>
		   					<th class="table-col-acoes"></th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="material : ${pagina.conteudo}">
		   					<td th:text="${material.id}">1</td>
		   					<td th:text="${material.nome}"></td>
		   					<td th:text="${material.unidade.descricao}"></td>
		   					<td>
		   						<a class="btn btn-link btn-xs" th:href="@{/insumoMaterial/{id}(id=${material.id})}" 
		   								title="Editar" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
								<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/insumoMaterial/{id}(id=${material.id})}"
									data:objeto="${material.nome}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
		   					</td>
		   				</tr>
		   				<tr th:if="${pagina.vazia}">
							<td colspan="4">Nenhum material encontrado</td>
						</tr>
		   			</tbody>
		   		</table>
		   	</div>
	   	</div>
	   	
	   	  	<brewer:pagination page="${pagina}"/>
	   	
</section>
</html>
