<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">

	<div class="table-responsive" th:fragment="resultsListMaoDeObra" >
		   		<table id="tabelaMaterialPesquisa" class="table table-bordered table-striped">
		   			<thead>
		   				<tr>
		   					<th class="text-center col-md-1">#</th>
		   					<th class="text-center col-md-2">Descrição</th>
		   					<th class="text-center col-md-2">Unidade</th>
		   					<th class="text-center col-md-2">Valor</th>
		   					<th class="text-center col-md-2">Leis Sociais</th>
		   					<th class="text-center col-md-2">Código BIM</th>
		   					<th class="text-center col-md-1">Inserir</th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="maoDeObra : ${maosDeObra}">
		   					<td class="text-center" th:text="${maoDeObra.id}">1</td>
		   					<td th:text="${maoDeObra.descricao}"></td>
		   					<td class="text-center" th:text="${maoDeObra.unidade.descricao}"></td>
		   					<td class="text-right" th:text="|R$ ${{maoDeObra.composicaoInsumo.valor}}|"></td>
		   					<td class="text-right" th:text="|R$ ${{maoDeObra.valorLeiSocial}}|"></td>
		   					<td th:text="${maoDeObra.composicaoInsumo.codigoBIM}"></td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs inserirMaoDeObra" onclick="inserirMaoDeObra(event)"
		   								title="Inserir Mão de Obra" rel="tooltip" data-placement="top"
		   								th:attr="data-id=${maoDeObra.id}">
		   							<span class="glyphicon glyphicon-send"></span>
		   						</a>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td colspan="7" th:if="${#lists.isEmpty(maosDeObra)}">Nenhuma mão de obra foi encontrada</td>
		   				</tr>
		   			</tbody>
		   		</table>
		   	</div>
	
</html>