<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:brewer="http://brewer.algaworks.com">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item" >
          			<a th:href="@{/index}"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
        		</li>
        		
        		 <li class="aw-menu__item"> 
          			<a href="#">
            			<i class="fa  fa-fw  fa-user"></i><span>Cadastro Básico</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/perfil.*}">
			            	<a th:href="@{/perfil}">Meu Perfil</a>
			            </li>
          			</ul>
        		</li>	
        		
        		
        		<li class="aw-menu__item" th:if="${#strings.equals(#authentication.principal.usuario.tipoUsuario, 'ADMINISTRADOR') or #strings.equals(#authentication.principal.usuario.tipoUsuario, 'ORCAMENTISTA')}">
          			<a href="#">
            			<i class="fa  fa-fw  fa-hand-o-right"></i><span>Codificação</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
          			
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			              <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/etapas.*}" th:if="${#strings.equals(#authentication.principal.usuario.tipoUsuario, 'ADMINISTRADOR')}">
			            	<a th:href="@{/etapas}">Etapas</a>
			           	  </li>
			        </ul>
			       	<ul class="aw-menu__list  aw-menu__list--sublist">    
			             <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/subEtapas.*}" th:if="${#strings.equals(#authentication.principal.usuario.tipoUsuario, 'ADMINISTRADOR')}">
			            	<a th:href="@{/subEtapas}">Sub Etapas</a>
			            </li>
			         </ul>    
			         
			    </li>
			     
			     
			     
			    <li class="aw-menu__item" th:if="${#strings.equals(#authentication.principal.usuario.tipoUsuario, 'ADMINISTRADOR')}">
          			<a href="#">
            			<i class="fa  fa-fw  fa-cubes"></i><span>Insumos</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
          			
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			              <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/insumoMaterial.*}">
			            	<a th:href="@{/insumoMaterial}">Material</a>
			            </li>
			        </ul>
			       	<ul class="aw-menu__list  aw-menu__list--sublist">    
			             <li class="aw-menu__item  aw-menu__item--link"  brewer:menu="@{/insumoMaoDeObra.*}">
			            	<a th:href="@{/insumoMaoDeObra}">Mão de Obra</a>
			            </li>
			         </ul>    
			         
			        <ul class="aw-menu__list  aw-menu__list--sublist">        
			              <li class="aw-menu__item  aw-menu__item--link"  brewer:menu="@{/insumoEquipamento.*}">
			            	<a th:href="@{/insumoEquipamento}">Equipamento</a>
			            </li>
			        </ul>
			        
			    </li>
			     
			     
			    <li class="aw-menu__item" th:if="${#strings.equals(#authentication.principal.usuario.tipoUsuario, 'ADMINISTRADOR') or #strings.equals(#authentication.principal.usuario.tipoUsuario, 'ORCAMENTISTA')}">
          			<a href="#">
            			<i class="fa  fa-fw  fa-cog"></i><span>Composições</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/composicoes.+}">
			            	<a th:href="@{/composicoes/nova}">Criar</a>
			            </li>
			            
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/composicoes}">
			            	<a th:href="@{/composicoes}">Pesquisar</a>
			            </li>
			        </ul>
			    </li>
			    
			    <li class="aw-menu__item" th:if="${#strings.equals(#authentication.principal.usuario.tipoUsuario, 'ADMINISTRADOR') or #strings.equals(#authentication.principal.usuario.tipoUsuario, 'ORCAMENTISTA')}">
          			<a href="#">
            			<i class="fa  fa-fw  fa-money"></i><span>Orçamentos</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/orcamentos.+}">
			            	<a th:href="@{/orcamentos/novo}">Orçar</a>
			            </li>
			            
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/orcamentos}">
			            	<a th:href="@{/orcamentos}">Pequisar</a>
			            </li>
			        </ul>
			    </li>
			    
        		
        		<li class="aw-menu__item" th:if="${#strings.equals(#authentication.principal.usuario.tipoUsuario, 'FORNECEDOR_MATERIAL')}"> 
          			<a href="#">
            			<i class="fa  fa-fw  fa-shopping-cart"></i><span>Material</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/materiaisFornecedor.+}">
			            	<a th:href="@{/materiaisFornecedor/novo}">Cadastro</a>
			            </li>
			            
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/materiaisFornecedor}">
			            	<a th:href="@{/materiaisFornecedor}">Pesquisa</a>
			            </li>
			             <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/atualizarPrecoMaterial}">
			            	<a th:href="@{/atualizarPrecoMaterial}">Atualização de Preço</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/importarMaterial.*}">
			            	<a th:href="@{/index}">Importação de Material</a>
			            </li>
          			</ul>
        		</li>	
			     
      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>