<!DOCTYPE html>
<html lang="pt" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
	
<body>
<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar" th:fragment="navbar">
	<div class="container-fluid">

    <div class="navbar-header">
     	<a class="navbar-brand  hidden-xs" href="#">
        	<img alt="Projeta Fácil" th:src="@{/images/logo-pf-white.png}"/>
      	</a>

      	<ul class="nav  navbar-nav">
        	<li>
          		<a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
        	</li>
      	</ul>
    </div>

    <ul class="nav navbar-nav  navbar-right">
    	<li>
    		<p class="navbar-text" th:text="|Bem vindo ${#authentication.principal.usuario.nome}|">Usuário</p>
    	</li>
    	
    	 <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	          <i class="fa  fa-user"></i>
	        </a>
	        
	        <ul class="dropdown-menu">
	          <li>
	            <div class="aw-logged-user">
	              <img th:src="@{/img/empresario.png}" width="80" height="80" class="aw-logged-user__picture" />
	              <span class="aw-logged-user__name" th:text="${#authentication.principal.usuario.nome}|">João das Couves</span>
	            </div>
	          </li>
	          <li role="separator" class="divider"></li>
	          <li><a th:href="@{/perfil}">Meu perfil</a></li>
	          <li><a href="#">Alterar senha</a></li>
	          <li><a href="#">Pagamentos</a></li>
	        </ul>
	      </li>
    
    	<li>
        	<a th:href="@{/logout}"><em class="fa  fa-sign-out"></em></a>
      	</li> 
    </ul>

  </div>
</nav>

</body>
</html>