<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:brewer="http://brewer.algaworks.com">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/selectize.default.css}"/>
	<title>Insumo Equipamento para Composição</title>
</head>

<section layout:fragment="conteudo">
    
    <div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${insumoEquipamento.novo}">Cadastro de Equipamento</h1>
					<h1 th:unless="${insumoEquipamento.novo}">Edição do Equipamento - [[${insumoEquipamento.nome}]]</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/insumoEquipamento}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		
		<th:block th:include="fragments/MensagemSucesso"></th:block>

	  	  <form method="POST" th:action="@{/insumoEquipamento/salvar}" th:object="${insumoEquipamento}">
	    		
	    		<th:block th:include="fragments/MensagensErroValidacao"></th:block>
	    		
	    			<div class="panel-body">
	    			
			    			<input type="hidden" th:field="*{id}"/>
			    		
			    			<div class="row">
								<div class="form-group  col-sm-9  bw-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">
									<label for="nome" class="control-label">Nome</label>
									<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}" />
								</div>
								
								<div class="form-group  col-sm-3  bw-required" th:classappend="${#fields.hasErrors('unidade')} ? has-error">
									<label for="unidade" class="control-label">Unidade</label>
									<select class="form-control" name="unidade" th:field="*{unidade}">
										<option th:each="unidade : ${unidades}" th:value="${unidade}" th:text="${unidade.descricao}"></option>
			                    	</select>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group  col-sm-12 " th:classappend="${#fields.hasErrors('codigoBIM')} ? has-error">
									<label for="codigoBIM" class="control-label">Código BIM</label>
									<input type="text" class="form-control" id="codigoBIM" th:field="*{codigoBIM}"/>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group  col-sm-12">
									<label for="etapaInsumo" class="control-label">Informe a(s) Etapa(s)</label>
									<select id="etapaInsumo" multiple="multiple"  class="atualizar-subetapas"  th:field="*{etapas}">
										<option  value="" label="Selecione uma Opção">Selecione uma etapa</option>
										<option th:each="etapa : ${etapas}"  th:value="${etapa.id}" th:text="${etapa.codigo} + ' - ' + ${etapa.nome}" >Etapas</option>
									</select>
								</div>
							</div>	
							
							
							<div class="row">
								<div class="form-group  col-sm-12">
									<label for="subEtapaInsumo" class="control-label">Informe a(s) SubEtapa(s)</label>
									<select id="subEtapaInsumo" multiple="multiple"  th:field="*{subEtapas}">
										<option  value="" label="Selecione uma Opção">Selecione a Etapa e depois as Sub Etapa</option>
										<option  th:each="subEtapa : ${insumoEquipamento.subEtapas}" th:value="${subEtapa.id}" th:text="${subEtapa.codigo} + ' - ' + ${subEtapa.nome}" >SubEtapas</option>
									</select>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-sm-2">
									<button type="submit" class="btn btn-primary">Salvar</button>
								</div>
							</div>
					</div>
	    	
	    </form>
    
    </div>
    
    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/selectize.js}"></script>
	<script th:src="@{/js/insumos.selectize-etapa-subetapa.js}"></script>
    
</section>
</html>