<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">
	
	
				
		   		
		   		<div  class="table-responsive" th:fragment="addEquipamento">
		   		<table id="equipamento-table" name="equipamento-table" class="table table-bordered table-striped">
					<thead>
						<tr>
		   					<td colspan="8" class="text-center negrito">Equipamento da Composição</td>
		   				</tr>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Descrição</th>
							<th class="text-center">Unidade</th>
							<th class="text-center">Preço</th>
							<th class="text-center">Código BIM</th>
							<th class="text-center">Coeficiente</th>
							<th class="text-center">Valor</th>
							<th class="text-center">Excluir</th>
						</tr>
					</thead>
					<tbody>
					
						<tr id="linhaComMaosDeObra" class="comEquipamento" th:each="item : ${itemEquipamentosComposicao}"> 
		   					<td class="text-center" th:text="${itemStat.index} + 1">1</td>
		   					<td th:text="${item.equipamentoComposicao.descricao}"></td>
		   					<td class="text-center" th:text="${item.equipamentoComposicao.unidade.descricao}"></td>
		   					<td class="text-left preco" th:text="|R$ ${{item.equipamentoComposicao.composicaoInsumo.valor}}|"></td>
		   					<td class="text-center" th:text="${item.equipamentoComposicao.composicaoInsumo.codigoBIM}"></td>
		   					<td class="text-center input-coeficiente"> 
		   						<input type="text" oninput="colocarInputDecimal(this);" onclick="colocarInputDecimal(this);" onblur="calculaTotalEquipamento(this);" onchange="calculaValorTotalDaComposicao();"  th:value="${item.valorCoeficiente}" class="coeficiente"
		   							th:attr="data-preco=${item.equipamentoComposicao.composicaoInsumo.valor}, data-posicao=${itemStat.index}"
		   						 />
		   					</td>
		   					<td class="text-center valor" th:if="|${{item.valorTotal}} == null ? 0 : R$ ${{item.valorTotal} }|">
		   						<input type="text" disabled="disabled" th:value="|R$ ${{item.valorTotal}}|" class="valorTotal" />
		   					</td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs" 
		   								title="Excluir" rel="tooltip" data-placement="top" onclick="RemoveTableRowEquipamento(this)" th:attr="data-index=${itemStat.index}">
		   							<span class="glyphicon glyphicon-remove"></span>
		   						</a>
		   					</td>
		   				</tr>
		   				
		   				<tr>
		   					<td colspan="8" th:if="${#lists.isEmpty(itemEquipamentosComposicao)}">Nenhum equipamento foi adicionado</td>
		   				</tr>
					
<!-- 						<tr> -->
<!-- 							<td colspan="8" style="text-align: left;"> -->
<!-- 								<a id="botaoAdicionarMaterial"  class="btn btn-link btn-xs"  -->
<!-- 		   								title="Pesquisar Materiais da Composição" rel="tooltip" data-placement="right" -->
<!-- 		   								data-toggle="modal" data-target="#modalPesquisaMaterialComposicao">  -->
<!-- 		   								<button type="button" id="botaoAdicionarMaterial" class="btn btn-default btn-sm">Adicionar Material</button> -->
<!-- 		   						</a> -->
										 
<!-- 								</td> -->
<!-- 						</tr> -->
					</tbody>
				</table>
				</div>
		   		
	
</html>