<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">

	<div class="table-responsive" th:fragment="resultsListEquipamento" >
		   		<table id="tabelaEquipamentoPesquisa" class="table table-bordered table-striped">
		   			<thead>
		   				<tr>
		   					<th class="text-center col-md-1">#</th>
		   					<th class="text-center col-md-2">Descrição</th>
		   					<th class="text-center col-md-2">Unidade</th>
		   					<th class="text-center col-md-2">Valor</th>
		   					<th class="text-center col-md-2">Código BIM</th>
		   					<th class="text-center col-md-1">Inserir</th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="equipamento : ${equipamentos}">
		   					<td class="text-center" th:text="${equipamento.id}">1</td>
		   					<td th:text="${equipamento.descricao}"></td>
		   					<td class="text-center" th:text="${equipamento.unidade.descricao}"></td>
		   					<td class="text-right" th:text="|R$ ${{equipamento.composicaoInsumo.valor}}|"></td>
		   					<td th:text="${equipamento.composicaoInsumo.codigoBIM}"></td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs inserirEquipamento" onclick="inserirEquipamento(event)"
		   								title="Inserir Equipamento" rel="tooltip" data-placement="top"
		   								th:attr="data-id=${equipamento.id}">
		   							<span class="glyphicon glyphicon-send"></span>
		   						</a>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td colspan="6" th:if="${#lists.isEmpty(equipamentos)}">Nenhum equipamento foi encontrado</td>
		   				</tr>
		   			</tbody>
		   		</table>
		   	</div>
	
</html>