<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Projeta Fácil</title>
</head>

<section layout:fragment="conteudo">
			<div class="projetaFacil-banner">
				<h5>Aguardem, em breve!</h5>
				<h1>Projeta Fácil</h1>
				<p>O maior site de orçamento de projetos de construção civil do Brasil</p>
				<button class="btn btn-primary">Em construção</button>
			</div>
</section>
</html>