<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">

		   		
		   		<div  class="table-responsive" th:fragment="addServico">
		   		<table id="servico-table"  class="table table-bordered table-striped">
					<thead>
						<tr>
		   					<td colspan="11" class="text-center negrito">Serviços</td>
		   				</tr>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Código</th>
							<th class="text-center">Serviço</th>
							<th class="text-center">Custo de Material</th>
							<th class="text-center">Custo da Mão de Obra</th>
							<th class="text-center">Custo de Equipamento</th>
							<th class="text-center">Valor Total</th>
							<th class="text-center">Unidade</th>
<!-- 							<th class="text-center">Código BIM</th> -->
							<th class="text-center">Quantidade</th>
							<th class="text-center">Valor Orçado</th>
							<th class="text-center">Excluir</th>
						</tr>
					</thead>
					<tbody>
					
						<tr id="linhaComServicos" class="comServico" th:each="item : ${itensOrcamento}"> 
		   					<td class="text-center" th:text="${itemStat.index} + 1">1</td>
		   					<td th:text="${item.composicaoServico.servicoCodificacao.codigo}"></td>
		   					<td th:text="${item.composicaoServico.servicoCodificacao.nome}"></td>
		   					<td class="text-left precoMaterial" th:text="|R$ ${{item.composicaoServico.valorTotalInsumoMaterial}}|"></td>
		   					<td class="text-left precoMaoDeObra" th:text="|R$ ${{item.composicaoServico.valorTotalInsumoMaoDeObra}}|"></td>
		   					<td class="text-left precoEquipamento" th:text="|R$ ${{item.composicaoServico.valorTotalInsumoEquipamento}}|"></td>
		   					<td class="text-left precoEquipamento" th:text="|R$ ${{item.composicaoServico.valorTotal}}|"></td>
		   					<td class="text-center" th:text="${item.composicaoServico.servicoCodificacao.unidade.descricao}"></td>
<!-- 		   					<td class="text-center" th:text="${item.composicaoServico.servicoCodificaco.codigoBIM}"></td> -->
		   					<td class="text-center input-quantidade"> 
		   						<input th:if="${item.composicaoServico.servicoCodificacao.unidade.descricao} != 'Unitário'" type="number" step="0.01" min="0.01" onblur="calculaTotalServico(this);" onchange="calculaValorTotalOrcamento();"  th:value="${item.quantidade}" class="quantidade"
		   							th:attr="data-precoValorTotal=${item.composicaoServico.valorTotal}, data-posicao=${itemStat.index}" />
		   							
		   						<input th:if="${item.composicaoServico.servicoCodificacao.unidade.descricao} == 'Unitário'" type="number" step="1" min="1" onblur="calculaTotalServico(this);" onchange="calculaValorTotalOrcamento();"  th:value="${item.quantidade}" class="quantidade"
		   							th:attr="data-precoValorTotal=${item.composicaoServico.valorTotal}, data-posicao=${itemStat.index}" />	
		   					</td>
		   					<td class="text-center preco" th:if="|${{item.preco}} == '' ? 0 : R$ ${{item.preco}}|">
		   						<input type="text" disabled="disabled" th:value="|R$ ${{item.preco}}|" class="precoTotal" />
		   					</td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs" 
		   								title="Excluir" rel="tooltip" data-placement="top" onclick="RemoveTableRowServico(this)" th:attr="data-index=${itemStat.index}">
		   							<span class="glyphicon glyphicon-remove"></span>
		   						</a>
		   					</td>
		   				</tr>
		   				
		   				<tr>
		   					<td colspan="11" th:if="${#lists.isEmpty(itensOrcamento)}">Nenhum serviço adicionado para orçar</td>
		   				</tr>
					
<!-- 						<tr> -->
<!-- 							<td colspan="8" style="text-align: left;"> -->
<!-- 								<a id="botaoAdicionarMaterial"  class="btn btn-link btn-xs"  -->
<!-- 		   								title="Pesquisar Materiais da Composição" rel="tooltip" data-placement="right" -->
<!-- 		   								data-toggle="modal" data-target="#modalPesquisaMaterialComposicao">  -->
<!-- 		   								<button type="button" id="botaoAdicionarMaterial" class="btn btn-default btn-sm">Adicionar Material</button> -->
<!-- 		   						</a> -->
										 
<!-- 								</td> -->
<!-- 						</tr> -->
					</tbody>
				</table>
				</div>
		   		
	
</html>