<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">

	<div class="table-responsive" th:fragment="resultsListServico" >
		   		<table id="tabelaServicoPesquisa" class="table table-bordered table-striped">
		   			<thead>
		   				<tr>
		   					<th class="text-center col-md-1">#</th>
		   					<th class="text-center col-md-2">Descrição</th>
		   					<th class="text-center col-md-2">Unidade</th>
		   					<th class="text-center col-md-2">Valor</th>
		   					<th class="text-center col-md-1">Inserir</th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="composicaoServico : ${composicoesDeServico}">
		   					<td class="text-center" th:text="${composicaoServico.id}">1</td>
		   					<td th:text="${composicaoServico.servicoCodificacao.nome}"></td>
		   					<td class="text-center" th:text="${composicaoServico.servicoCodificacao.unidade.descricao}"></td>
		   					<td class="text-right" th:text="|R$ ${{composicaoServico.valorTotal}}|"></td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs inserirServico" onclick="inserirServico(event)"
		   								title="Inserir Servico" rel="tooltip" data-placement="top"
		   								th:attr="data-id=${composicaoServico.id}">
		   							<span class="glyphicon glyphicon-send"></span>
		   						</a>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td colspan="6" th:if="${#lists.isEmpty(composicoesDeServico)}">Nenhum serviço foi encontrado</td>
		   				</tr>
		   			</tbody>
		   		</table>
		   	</div>
	
</html>