<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
    
<head>
	<title>Pesquisa de Serviços</title>
</head>

<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de Composição de Serviço</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{composicoes/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova Composição</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		   	
	  <div class="container-fluid">
		<form method="GET" th:object="${composicaoServicoFilter}">
			<div class="row">
				<div class="form-group col-sm-12">
					<input type="text" class="form-control" id="servico" placeholder="Qual Composição você está procurando?" autofocus="autofocus" th:field="*{servico}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
	   		
	   		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
		   			<thead>
		   				<tr>
		   					<th>Referência</th>
		   					<th>Código Projeta Fácil</th>
		   					<th>Nome / Unidade</th>
		   					<th>Código BIM</th>
		   					<th class="table-col-acoes"></th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="servico : ${pagina.conteudo}">
		   					<td th:text="${servico.referencia}"></td>
		   					<td th:text="|${servico.subEtapa.etapa.codigo}.${servico.subEtapa.codigo}.${servico.codigo}|"></td>
		   					<td th:text="|${servico.nome} / ${servico.unidade.descricao}|"></td>
		   					<td th:text="${servico.codigoBIM}"></td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs" th:href="@{/composicoes/visualizar/{id}(id=${servico.id})}" 
		   								title="Visualizar" rel="tooltip" data-placement="top" data:botao="visualizar">
		   							<span class="glyphicon glyphicon-search"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs" th:href="@{/composicoes/{id}(id=${servico.id})}" 
		   								title="Editar" rel="tooltip" data-placement="top" th:if="${#strings.equals(#authentication.principal.usuario.tipoUsuario, 'ADMINISTRADOR')} OR ${#authentication.principal.usuario.id} == ${servico.usuario.id}">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						<a th:if="${#strings.equals(#authentication.principal.usuario.tipoUsuario, 'ADMINISTRADOR')} OR ${#authentication.principal.usuario.id} == ${servico.usuario.id}" class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/composicoes/{id}(id=${servico.id})}"
									data:objeto="${servico.nome}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
								
		   					</td>
		   				</tr>
		   				<tr th:if="${pagina.vazia}">
							<td colspan="5">Nenhuma Composição encontrada</td>
						</tr>
		   			</tbody>
		   		</table>
		   	</div>
		   	
		   	<brewer:pagination page="${pagina}"/>
		   	
	   	</div>
	   	
	   	
</section>
</html>
