<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">
		   
		   	<!-- Material -->
		   	
	 		<div class="table-responsive bw-tabela-simples js-tabela-item"  >
		   		<table id="material-table" th:name="material-table" class="table  table-hover table-striped">
					<thead>
						<tr>
		   					<td colspan="5" class="text-center negrito">MATERIAL</td>
		   				</tr>
						<tr>
							<th class="col-xs-1">#</th>
							<th class="col-xs-7">Nome</th> 
							<th class="col-xs-1">Unidade</th>
							<th class="bw-required col-xs-2">Coeficiente (Qtde)</th>
							<th class="table-col-acoes col-xs-1"></th>
						</tr>
					</thead>
					<tbody>
					
						<tr id="linhaComMateriais" class="comMaterial" th:each="item : ${itemMateriaisComposicao}"> 
		   					<td th:text="${itemStat.index} + 1">1</td>
		   					<td th:text="${item.insumoMaterial.nome}"></td>
		   					<td th:text="${item.insumoMaterial.unidade.descricao}"></td>
		   					<td>
									<input type="text" th:value="${item.valorCoeficiente}" class="js-tabela-composicao-coeficiente-item js-coeficiente form-control"
		   									data:id-insumo="${item.insumoMaterial.id}" data:tipo-insumo="InsumoMaterial" />
		   					</td>
		   					<td >
		   						<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-item-btn" title="Excluir" href="#" 
									data:idinsumo="${item.insumoMaterial.id}" data:tipoinsumo="InsumoMaterial">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
		   					</td>
		   				</tr>
		   				
		   				<tr>
		   					<td colspan="5" th:if="${#lists.isEmpty(itemMateriaisComposicao)}">Nenhum material foi adicionado</td>
		   				</tr>
					</tbody>
				</table>
				</div>
				
				
				<br/>
				<br/>
				
				<!--  Mão de Obra  -->
				
				<div  class="table-responsive bw-tabela-simple">
		   		<table id="mao-de-obra-table" th:name="mao-de-obra-table" class="table  table-hover">
					<thead>
						<tr>
		   					<td colspan="9" class="text-center negrito">MÃOS DE OBRA</td>
		   				</tr>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Unidade</th>
							<th>Preço (R$)</th>
							<th>Coeficiente (Qtde)</th>
							<th>Leis Sociais (%)</th>
							<th>Valor Total (R$)</th>
							<th class="table-col-acoes"></th>
						</tr>
					</thead>
					<tbody>
					
						<tr id="linhaComMaosDeObra" class="comMaoDeObra" th:each="item : ${itemMaosDeObrasComposicao}"> 
		   					<td th:text="${itemStat.index} + 1">1</td>
		   					<td th:text="${item.insumoMaoDeObra.nome}"></td>
		   					<td th:text="${item.insumoMaoDeObra.unidade.descricao}"></td>
		   					<td class="preco" th:text="|R$ ${{item.insumoMaoDeObra.valor}}|"></td>
		   					<td> 
		   						<input type="text" th:value="${{item.valorCoeficiente}}" class="js-tabela-composicao-coeficiente-item form-control"
		   									data:id-insumo="${item.insumoMaoDeObra.id}" data:tipo-insumo="InsumoMaoDeObra" />
		   					</td>
		   					<td class="input-valorLeiSocial"> 
		   						<input type="text" th:value="${{item.valorLeisSociais}}" class="js-tabela-composicao-valor-lei-social form-control" data:id-maodeobra="${item.insumoMaoDeObra.id}" />
		   					</td>
		   					
		   					<td class="input-valorTotal"> 
		   						<input type="text" th:value="|R$ ${{item.valorTotal}}|" disabled="disabled"   class="js-tabela-composicao-valor-total form-control" data:id-maodeobra="${item.insumoMaoDeObra.id}"  />
		   					</td>
		   					
		   					<td>
		   						<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-item-btn" title="Excluir" href="#" 
									data:idinsumo="${item.insumoMaoDeObra.id}" data:tipoinsumo="InsumoMaoDeObra">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
		   					</td>
		   				</tr>
		   				
		   				<tr>
		   					<td colspan="9" th:if="${#lists.isEmpty(itemMaosDeObraComposicao)}">Nenhuma mão de obra foi adicionada</td>
		   				</tr>

					</tbody>
				</table>
				</div>
				
				
				<br/>
				<br/>
				
				<!--  Equipamento  -->
		   		
		   		<div  class="table-responsive bw-tabela-simple">
		   		<table id="equipamento-table" th:name="equipamento-table" class="table table-hover">
					<thead>
						<tr>
		   					<td colspan="5" class="text-center negrito">EQUIPAMENTOS</td>
		   				</tr>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Unidade</th>
							<th>Coeficiente (Qtde)</th>
							<th class="table-col-acoes"></th>
						</tr>
					</thead>
					<tbody>
					
						<tr id="linhaComEquipamentos" class="comEquipamento" th:each="item : ${itemEquipamentosComposicao}"> 
		   					<td th:text="${itemStat.index} + 1">1</td>
		   					<td th:text="${item.insumoEquipamento.nome}"></td>
		   					<td th:text="${item.insumoEquipamento.unidade.descricao}"></td>
		   					<td> 
		   						<input type="text" th:value="${{item.valorCoeficiente}}" class="js-tabela-composicao-coeficiente-item form-control"
		   									data:id-insumo="${item.insumoEquipamento.id}" data:tipo-insumo="InsumoEquipamento" />
		   					</td>
		   					<td>
		   						<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-item-btn" title="Excluir" href="#" 
											data:idinsumo="${item.insumoEquipamento.id}" data:tipoinsumo="InsumoEquipamento">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
		   					</td>
		   				</tr>
		   				
		   				<tr>
		   					<td colspan="5" th:if="${#lists.isEmpty(itemEquipamentosComposicao)}">Nenhum equipamento foi adicionado</td>
		   				</tr>
					
					</tbody>
				</table>
				</div>
				
				
				<!--  Composição  -->
		   		
		   		<div  class="table-responsive bw-tabela-simple">
		   		<table id="composicao-table" th:name="composicao-table" class="table table-hover">
					<thead>
						<tr>
		   					<td colspan="6" class="text-center negrito">COMPOSIÇÕES</td>
		   				</tr>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Unidade</th>
							<th>Código BIM</th>
							<th>Coeficiente (Qtde)</th>
							<th class="table-col-acoes"></th>
						</tr>
					</thead>
					<tbody>
					
						<tr id="linhaComComposicoes" class="comComposicao" th:each="item : ${itemComposicoesDaComposicao}"> 
		   					<td th:text="${itemStat.index} + 1">1</td>
		   					<td th:text="${item.insumoComposicao.nome}"></td>
		   					<td th:text="${item.insumoComposicao.unidade.descricao}"></td>
		   					<td th:text="${item.insumoComposicao.codigoBIM}"></td>
		   					<td> 
		   						<input type="text" th:value="${{item.valorCoeficiente}}" class="js-tabela-composicao-coeficiente-item form-control"
		   									data:id-insumo="${item.insumoComposicao.id}" data:tipo-insumo="ComposicaoServico" />
		   					</td>
		   					<td>
		   						<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-item-btn" title="Excluir" href="#" 
											data:idinsumo="${item.insumoComposicao.id}" data:tipoinsumo="ComposicaoServico">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
		   					</td>
		   				</tr>
		   				
		   				<tr>
		   					<td colspan="6" th:if="${#lists.isEmpty(itemEquipamentosComposicao)}">Nenhuma composição foi adicionada</td>
		   				</tr>
					
					</tbody>
				</table>
				</div>
				
				
				
				
				
				
</html>