<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Cadastro de Etapa</title>
</head>

<section layout:fragment="conteudo">
   
  <div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${etapa.nova}">Cadastro de Etapa</h1>
					<h1 th:unless="${etapa.nova}" th:text="|Edição da Etapa: ${etapa.nome}|">Edição de etapa</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/etapas}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
   
   
   <div class="container-fluid">
	<th:block th:include="fragments/MensagemSucesso"></th:block>
   
    <form class="form-horizontal" method="POST" th:action="@{/etapas/salvar}" th:object="${etapa}">
    	
    	<th:block th:include="fragments/MensagensErroValidacao"></th:block>
    		
    			<input type="hidden" th:field="${etapa.id}"/>
				<input type="hidden" th:field="${etapa.codigo}" />    		
				
				<div class="form-group" th:unless="${etapa.id} == null">
					<label class="col-sm-1 control-label">Código</label>
					<div class="col-sm-4"> 
						<label class="col-sm-1 control-label" th:text="${etapa.codigo}"></label>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="col-sm-1 control-label">Nome</label>
					<div class="col-sm-11">  
						<input type="text" class="form-control"	id="nome" th:field="*{nome}" autofocus="autofocus"/>
					</div>
				</div>
				
			
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
    	
    </form>
    
     </div>
</section>
</html>