<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:brewer="http://brewer.algaworks.com">
    
<head>
	<title>Pesquisa de Etapas</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de Etapa</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{etapas/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova Etapa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		   	
	  <div class="container-fluid">
		<form method="GET" th:object="${etapaFilter}">
			<div class="row">
				<div class="form-group col-sm-12">
					<input type="text" class="form-control" id="etapa" placeholder="Qual Etapa você está procurando?" autofocus="autofocus" th:field="*{codigoENome}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
	   		
	   		<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
		   			<thead>
		   				<tr>
						<th>Código</th>
						<th>
							<brewer:order page="${pagina}" field="nome" text="Nome" />			
						</th>
						<th class="table-col-acoes"></th>
					</tr>
		   			</thead>
		   			
		   			<tbody>
		   				<tr th:each="etapa : ${pagina.conteudo}">
		   					<td th:text="${etapa.codigo}">1</td>
		   					<td th:text="${etapa.nome}"></td>
		   					<td>
		   						<a class="btn btn-link btn-xs" th:href="@{/etapas/{id}(id=${etapa.id})}" 
		   								title="Editar" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						
								<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/etapas/{id}(id=${etapa.id})}"
									data:objeto="${etapa.nome}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
		   					</td>
		   				</tr>
		   				
		   				<tr th:if="${pagina.vazia}">
							<td colspan="6">Nenhuma etapa encontrada</td>
						</tr>
		   			</tbody>
		   		</table>
		   	</div>
		   	
		   	<brewer:pagination page="${pagina}"/>
		   	
	   	</div>
	   	
</section>
</body>
</html>
