<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Cadastro de Fornecedor</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Cadastro de Fornecedor</h1>
				</div>
			
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/fornecedores}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
	
	<th:block th:include="fragments/MensagemSucesso"></th:block>
	
	
		<form method="POST" th:object="${fornecedor}" th:action="@{/fornecedores/salvar}">
			
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
			
			<input type="hidden" th:field="${fornecedor.id}"/>
			<input type="hidden" th:field="*{usuario}"/>
			
			<div class="row">
				<div class="form-group  col-sm-12  bw-required" >
					<label for="nome" class="control-label">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3">
					<label for="telefone">Telefone</label>
					<input type="text" class="form-control  js-phone-number" id="telefone" th:field="*{telefone}"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label for="telefone">Celular</label>
					<input type="text" class="form-control  js-phone-number" id="celular" th:field="*{celular}"/>
				</div>
				
				<div class="form-group  col-sm-6" >
					<label for="email" class="control-label">E-mail</label>
					<input type="text" class="form-control" id="email" th:field="*{email}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3">
					<label for="contato">Contato</label>
					<input type="text" class="form-control" placeholder="Nome do Vendedor, Dono, Comercial, Financeiro" id="contato" th:field="*{contato}"/>
				</div>
				
				<div class="form-group  col-sm-9" >
					<label for="email" class="control-label">Endereço</label>
					<input type="text" class="form-control" id="endereco" th:field="*{endereco}"/>
				</div>
			</div>
			
			
			
			<button type="submit" class="btn  btn-primary">Salvar</button>				
		</form>
	</div>
</section>

</html>
