<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Orçamento</title>
	
	<link rel="stylesheet" th:href="@{/css/vendors/easy-autocomplete.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/vendors/easy-autocomplete.themes.min.css}"/>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${orcamento.novo}" >Orçando</h1>
					<h1 th:unless="${orcamento.novo}" id="labelOrcamento"  
								th:text="|Alterando o Orçamento nº ${orcamento.id} - ${orcamento.descricao}|">Edição do Orçamento nº 12 - My House</h1>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
	
		<form method="POST" th:action="@{/orcamentos/novo}" th:object="${orcamento}" class="js-formulario-principal">
			<brewer:message/>
		
			<input type="hidden" id="uuid" th:field="*{uuid}"/>
			<input type="hidden" id="idOrcametno" th:field="*{id}"/>
			<input type="hidden" th:field="*{usuario}"/>
			
			<div class="row">
				<div class="col-sm-4">
					<div class="aw-box  js-valor-total-box-container">
						<div class="aw-box__icon">
							<i class="fa  fa-usd  fa-3x"></i>
						</div>
						<div class="aw-box__value">R$<span class="js-valor-total-box"  th:text="${{orcamento.precoTotal}}">0,00</span></div>
						<div class="aw-box__title">Total</div>
						<br/>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-calendar  fa-3x"></i>
						</div>
						<div class="aw-box__value">
							<span class="js-tooltip">Hoje</span>
						</div>
						<div class="aw-box__title">Criação</div>
					<br/>
					</div>
				</div>
				
				
				<div class="col-sm-4">
						<div class="aw-box">
						
							<div class="aw-box__value">
								<span class="js-tooltip">Exibir Por</span>
							</div>
							
							<div>
								<label  class="checkbox-inline estilo-label--exibir" for="mostrar-etapas" >
									 <input class="estilo-checkbox--exibir" type="checkbox" id="mostrar-etapas" checked> Etapas
								</label> 
								<label class="checkbox-inline estilo-label--exibir" for="mostrar-subetapas">
									  <input class="estilo-checkbox--exibir" type="checkbox" id="mostrar-subetapas" checked> Sub Etapas 
								</label> 
								<label class="checkbox-inline estilo-label--exibir" for="mostrar-servicos">
									  <input class="estilo-checkbox--exibir" type="checkbox" id="mostrar-servicos" checked> Serviços
								</label>
							</div>
							
						</div>
				 </div>
				
				
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-8" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
					<label class="control-label obrigatorio" for="descricaoProjeto">Descrição do Projeto</label>
					<input type="text" class="form-control" id="descricaoProjeto" th:field="*{descricao}" autofocus="autofocus" />
				</div>
			
				<div class="form-group  col-sm-4">
					<label class="control-label" for="valorBDI">Valor do BDI</label>
					<div class="input-group">
	      				<div class="input-group-addon">%</div> 
						<input type="text" maxlength="6" class="form-control  js-decimal" id="valorBDI" 
							th:field="*{{valorBDI}}" data:valor="${valorBDI}" />
					</div>
				</div>
				
				
				<div class="painel-checkbox">
					<div class="col-sm-12">
							<h3>
								<span class="label-criterio-orcar">Clique na opção para orçar:</span>
							</h3>
							<br/>
							<div>
								<label class="radio-inline">
									<input type="radio" id="menor-preco" class="magic-radio" name="criterio" value="MENOR_PRECO" th:field="*{criterio}">
									<label for="menor-preco"> <span class="negrito"> Menor Preço</span> </label>
								</label>
								
								<label class="radio-inline">
									<input type="radio" id="preco-medio" class="magic-radio" name="criterio" value="PRECO_MEDIO" th:field="*{criterio}">
									<label for="preco-medio"> <span class="negrito"> Preço Médio</span> </label>
								</label>
								<label class="radio-inline">
									<input type="radio" id="maior-preco" class="magic-radio" name="criterio" value="MAIOR_PRECO" th:field="*{criterio}">
									<label for="maior-preco"> <span class="negrito"> Maior Preço</span> </label>
								</label>	
							</div>		
							<br/>
					</div>	
				</div>
				
			</div>
			
			<div class="row">
				<div class="form-group  col-xs-12">
					<ul class="nav nav-tabs  js-abas-orcamento">
					  <li role="presentation" class="active"><a href="#servicos" data:aba="servicos" data:url="@{/orcamentos/servicos/{uuid}(uuid=${orcamento.uuid})}" >Serviços</a></li>
					  <li role="presentation"><a href="#detalhesMaterial" data:aba="detalhesMaterial" data:url="@{/orcamentos/detalheMaterial/{uuid}(uuid=${orcamento.uuid})}">Detalhes do Material</a></li>
					  <li role="presentation"><a href="#detalhesMaoObraPropia" data:aba="detalhesMaoObraPropia" data:url="@{/orcamentos/detalheMaoDeObraPropria/{uuid}(uuid=${orcamento.uuid})}">Detalhes Mão de Obra Própria</a></li>
					  <li role="presentation"><a href="#detalhesMaoObraTercerizada" data:aba="detalhesMaoObraTercerizada" data:url="@{/orcamentos/detalheMaoObraTercerizada/{uuid}(uuid=${orcamento.uuid})}">Detalhes Mão de Obra Tercerizada</a></li>
					</ul>
				</div>
			</div>


			<div class="tab-content">
				
				<div class="tab-pane active" id="servicos">
			
					<input type="text" class="col-xs-12 js-nome-codigobim-input"  id="round" 
						placeholder="Pesquise e insira os Serviços do Projeto" autofocus="autofocus" data:url="@{/orcamentos}"/>
					
					<div class="js-tabela-servicos-container" data:valor="${valorTotalItens}">
						<th:block th:replace="orcamento/TabelaItensOrcamentoEtapa"/>
					</div>
					
				</div>
				

				<div class="tab-pane" id="detalhesMaterial">
					<div class="row">
						<div>
							<th:block th:replace="orcamento/DetalhesMateriaisOrcamento" />
						</div>
					</div>
				</div>


				<div class="tab-pane" id="detalhesMaoObraPropia">
					<div class="row">
						<div>
							<th:block th:replace="orcamento/DetalhesMaoDeObraPropriaOrcamento" />
						</div>
					</div>
				</div>
				
				
				<div class="tab-pane" id="detalhesMaoObraTercerizada">
					<div class="row">
						<div class="form-group  col-sm-3" >
							<label class="control-label" for="dataEntrega">DETALHES MÃO DE OBRA TERCERIZADA</label>
						</div>
					</div>
				</div>
					
			</div>
			
			
			
			
			<div class="row" style="clear: both" >
				<div class="col-lg-12">
					<button type="submit" class="btn  btn-primary  js-submit-btn" data:acao="salvar">Salvar</button>
					<button class="btn  btn-danger  js-submit-btn" data:acao="cancelar" >Cancelar</button>
				</div>
			</div>
		</form>
	</div>
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/js/vendors/handlebars.min.js}"></script>
	<script th:src="@{/js/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/js/orcamento.autocomplete-itens.js}"></script>
	<script th:src="@{/js/orcamento.tabela-itens.js}"></script>
	<script th:src="@{/js/orcamento.js}"></script>
	
	<script>
	
	$(function() {
		$('.js-abas-orcamento a').click(function (e) {
			e.preventDefault();
			
			var aba = $(this);
			var url = $(this).data('url');
			var nome = $(this).data('aba');
			console.log(url);
			var resposta = $.ajax({
				url: url,
				method: 'GET'	
			});

			resposta.done(function(e){
				console.log('nome da aba clicada', nome);
				 if (nome === 'detalhesMaterial') {
					$('#detalhesMaterial').html(e);
				} else if (nome === 'detalhesMaoObraPropia') {
					$('#detalhesMaoObraPropia').html(e);	
				} else if ( nome === 'detalhesMaoObraTercerizada') {
					$('#detalhesMaoObraTercerizada').html(e);	
				}
			
				$(aba).tab('show');
			});
			
		});
	});
	</script>

</th:block>

</html>