<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">
		   		 	  		   
		   	<!-- Serviços -->
	 		<div class="table-responsive bw-tabela-simples js-tabela-item" data:valor-total="${valorTotal}" >
					<table id="orcamento-table" th:name="orcamento-table-itens" class="table  table-hover table-striped">
						<tr>
		   					<td colspan="9" class="text-center negrito">SERVIÇOS SELECIONADOS</td>
		   				</tr>
						<tr>
							<th>MO. Tercerizada <input type="checkbox" id="selecao-todos-tercerizados"> </th>
							<th class="col-xs-2">Referência / Código (PF)</th>
							<th class="col-xs-5">Serviço / Unidade</th>
							<th class="bw-required col-sm-1">Quantidade</th>
							<th class="col-xs-1">Mão de Obra</th>
							<th class="col-xs-1">Material</th>
							<th class="col-xs-1">Unitário</th>
							<th class="col-xs-1">Sub Total</th>
							<th class="col-xs-1"></th>
						</tr>
						<th:block th:each="etapa : ${etapas}">
							<tr class="etapas"> 
								<td colspan="10" class="etapa text-left negrito corTextoEtapa"th:text="|${etapa.codigo} - ${etapa.nome}|">1 - Etapa</td>
							</tr>
								<th:block th:each="subEtapa : ${subEtapas}" th:if="${etapa.codigo} == ${subEtapa.etapa.codigo}">
									<tr class="subEtapas"> 
										<td colspan="10" class="subEtapa text-left corTextoSubEtapa" th:text="|${subEtapa.etapa.codigo}.${subEtapa.codigo} - ${subEtapa.nome}|">1.1 - Sub</td>
									</tr>
							
									<tr id="linhaComServicos" class="comServico" th:each="item : ${itensOrcamento}" th:if="${subEtapa.codigo} == ${item.composicaoServico.subEtapa.codigo} and ${subEtapa.etapa.codigo} == ${item.composicaoServico.subEtapa.etapa.codigo}"> 
						   				<th:block th:if="${subEtapa.codigo} == ${item.composicaoServico.subEtapa.codigo}">
						   					<td>
					      						<input type="checkbox" class="js-selecao-tercerizado comElementos" /> 
						   					</td>
						   					<td th:text="|${item.composicaoServico.referencia} / ${item.composicaoServico.subEtapa.etapa.codigo}.${item.composicaoServico.subEtapa.codigo}.${item.composicaoServico.codigo}|"></td>
						   					<td class="col-xs-5" th:text="|${item.composicaoServico.nome} / ${item.composicaoServico.unidade.descricao}|"></td>
						   					<td class="input-quantidade"> 
						   						<input th:if="${item.composicaoServico.unidade.descricao} != 'Unitário'" type="text" th:value="${{item.quantidade}}" 
						   							class="js-tabela-orcamento-quantidade-item js-coeficiente form-control " data:id-servico="${item.composicaoServico.id}" />
						   							
						   						<input th:if="${item.composicaoServico.unidade.descricao} == 'Unitário'" type="text" th:value="${{item.quantidade}}"
						   							class="js-tabela-orcamento-quantidade-item js-coeficiente form-control " data:id-servico="${item.composicaoServico.id}" />
						   					</td>
						   					<td  th:text="|R$ ${{item.valorMaoDeObra}}|"> </td>
						   					<td th:text="|R$ ${{item.valorMaterial}}|"> </td>
						   					<td  th:text="|R$ ${{item.valorUnitario}}|"> </td>
						   					<td  th:text="|R$ ${{item.valorTotal}}|"> </td>
						   					<td>
						   						<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-item-btn " title="Excluir" href="#" 
													data:idservico="${item.composicaoServico.id}">
													<i class="glyphicon glyphicon-remove"></i>
												</a>
						   					</td>
						   					</th:block>
						   			 </tr>	
						   				
						   				
						   				 </th:block>
						   		</th:block>	
<!-- 			   				<tr> -->
<!-- 			   					<td colspan="9" class="nenhumServicoAdd" th:if="${#lists.isEmpty(itensOrcamento)}">Nenhum serviço adicionado para orçar</td> -->
<!-- 			   				</tr> -->
		   				</th:block>
					</table>
				</div>
				<br/>
				<br/>
</html>