<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">
		   		 	  		   
		   	<!-- Serviços -->
	 		<div class="table-responsive bw-tabela-simples js-tabela-item" data:valor-total="${valorTotal}" >
		   		
				<!-- Botão de Fazer Orçamento -->
				<div class="btn-group col-sm-2" th:unless="${#lists.isEmpty(itensOrcamento)}">
					<button type="button" class="btn btn-info dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Orçar por <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Maior Preço</a></li>
						<li><a href="#">Preço Médio</a></li>
						<li><a href="#">Menor Preço</a></li>
					</ul>
				</div>
		   		
		   		<table id="orcamento-table" th:name="orcamento-table" class="table  table-hover table-striped">
					<thead>
						<tr>
		   					<td colspan="13" class="text-center negrito">SERVIÇOS SELECIONADOS</td>
		   					
		   				</tr>
						<tr>
							<th>#</th>
							<th class="col-sm-1">Mão de Obra</th>
							<th>Referência</th>
							<th>Código Projeta Fácil</th>
							<th>Serviço</th>
							<th>Unidade</th>
							<th class="bw-required">Quantidade</th>
							<th>Valor da Mão de Obra</th>
							<th>Valor do Material</th>
							<th>Valor Unitário</th>
							<th>Sub Total</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					
						<tr id="linhaComServicos" class="comServico" th:each="item : ${itensOrcamento}"> 
		   					<td th:text="${itemStat.index} + 1">1</td>
		   					<th>
		   					    <div >
	    							 <label>
	      								<input value="PROPRIA" th:name="|pessoa${itemStat.index + 1 }|" type="radio" th:id="${itemStat.index} + 1" data-grupo="pessoa" checked="checked"> Própria
	    							 </label>
	    							 <label> 
	     								<input value="TERCERIZADA" th:name="|pessoa${itemStat.index + 1 }|" type="radio" th:id="${itemStat.index} + 1" data-grupo="pessoa"> Tercerizada
	     							 </label>
   								</div>
		   					</th>
		   					<td th:text="|${item.composicaoServico.referencia}"></td>
		   					<td th:text="|${item.composicaoServico.servicoCodificacao.subEtapa.etapa.codigo}.${item.composicaoServico.servicoCodificacao.subEtapa.codigo}.${item.composicaoServico.servicoCodificacao.codigo}|"></td>
		   					<td th:text="${item.composicaoServico.servicoCodificacao.nome}"></td>
		   					<td th:text="${item.composicaoServico.servicoCodificacao.unidade.descricao}"></td>
		   					<td class="input-quantidade"> 
		   						<input th:if="${item.composicaoServico.servicoCodificacao.unidade.descricao} != 'Unitário'" type="number" step="0.01" min="0.01" th:value="${item.quantidade}" 
		   							class="js-tabela-orcamento-quantidade-item js-coeficiente form-control" data:id-servico="${item.composicaoServico.id}" />
		   							
		   						<input th:if="${item.composicaoServico.servicoCodificacao.unidade.descricao} == 'Unitário'" type="number" step="1" min="1"  th:value="${item.quantidade}" 
		   							class="js-tabela-orcamento-quantidade-item js-coeficiente form-control" data:id-servico="${item.composicaoServico.id}" />
		   					</td>
		   					
		   					<td class="valorMaoDeObra" >
		   						<div class="input-group">
									<div class="input-group-addon">R$</div>
			   						<input type="text" disabled="disabled" th:text="${item.valorMaoDeObra}"  class="form-control" />
			   					</div>	
		   					</td>
		   					
		   					<td class="valorMaterial" >
		   						<div class="input-group">
									<div class="input-group-addon">R$</div>
			   						<input type="text" disabled="disabled" th:text="${item.valorMaterial}"   class="form-control" />
			   					</div>	
		   					</td>
		   					
		   					
		   					<td class="valorUnitário" >
		   						<div class="input-group">
									<div class="input-group-addon">R$</div>
			   						<input type="text" disabled="disabled" th:text="${item.valorUnitario}"   class="form-control" />
			   					</div>	
		   					</td>
		   					
		   					<td class="subTotal" >
		   						<div class="input-group">
									<div class="input-group-addon">R$</div>
			   						<input type="text" disabled="disabled" th:text="${item.valorTotal}"   class="form-control" />
			   					</div>	
		   					</td>
		   					
		   					<td></td>
		   					
		   					
		   					<td>
		   						<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-item-btn" title="Excluir" href="#" 
									data:idservico="${item.composicaoServico.id}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
		   					</td>
		   				</tr>
		   				
		   				<tr>
		   					<td colspan="13" th:if="${#lists.isEmpty(itensOrcamento)}">Nenhum serviço adicionado para orçar</td>
		   				</tr>
					
					</tbody>
				</table>
				</div>
				
				
				<br/>
				<br/>
				
</html>